
SourceCode_and_Documentation/.idea/inspectionProfiles/profiles_settings.xml
SourceCode_and_Documentation/.idea/misc.xml
SourceCode_and_Documentation/.idea/modules.xml
SourceCode_and_Documentation/.idea/SourceCode_and_Documentation.iml
SourceCode_and_Documentation/.idea/vcs.xml
